body {
  background-color: rgb(215, 226, 250);
  font-family: "Overpass", serif;
}

a {
  color: rgb(186, 205, 246);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 10px 15px rgba(65, 50, 100, 0.5);
  border-radius: 10px;
  padding: 50px 30px 70px 30px;
}

header {
  border-bottom: 1px solid rgba(137, 166, 227, 0.5);
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: rgb(215, 226, 250);
  border: none;
  border-radius: 5px;
  width: 80%;
  font-size: 15px;
  padding: 15px 15px;
}

.search-form-button {
  background: rgb(137, 166, 227);
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  margin-left: 3px;
  border-radius: 5px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 15px 0 25px 0;
  font-weight: 700;
  font-family: "Rubik Mono One", serif;
  font-size: 45px;
}

.weather-app-details {
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.3);
}

.weather-app-details strong {
  color: rgb(76, 169, 101);
  font-weight: bold;
  font-style: italic;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 40px;
  margin-top: 18px;
}
.weather-app-temperature {
  font-size: 90px;
  margin-left: 5px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 14px;
  font-size: 22px;
}
footer {
  border-top: 1px solid rgba(137, 166, 227, 0.5);
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
